.inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    column-gap: 4%;
    color: black;
    width: 85%;
    margin-left: 8%;
    margin-top: 3%;
}


.inputDatetimeContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    column-gap: 3%;
    color: black;
    width: 85%;
    margin-left: 8%;
    margin-top: 3%;
}