:root {
  --primary-btn-color: linear-gradient(to right, #FE9449, #EF5282);
  --background-color: #043873;
}

.content {
  display: flex;
  flex-direction: column;
  background: white;
  flex-grow: 1;
  text-align: center;
}

.layout {
  min-height: 100vh;
  min-width: 600px;
}

.ant-input-password-icon {
  color: #FFFFFF !important;
}
