.blockEventBack {
    width: 100%;
    border: 2px solid #FE954C;
    margin-top: 1%;
    padding: 1.5vh 2vw 1.5vh 1.5vw;
    position: relative;
}

.blockEventName {
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingsEventIcon {
    color: #888888;
    margin-left: auto;
}

.settingsEventIcon :hover {
    color: #FE954C;
}

.blockEventDate {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    font-size: 16px;
    color: #888888;
}

.blockEventDate div:first-child {
    text-align: start;
    justify-self: start;
}

.blockEventDate div:last-child {
    text-align: end;
    justify-self: end;
}